@mixin background-pic($url,$size){
    background-image: url($url);
    background-size: $size;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin text-design($font,$font-style,$align,$color){
    font-family: $font, $font-style;
    text-align: $align;
    color: $color;
}

@mixin button($color,$hover-color){
    color: $color;
    text-decoration: none;
    &:hover {
      background-color: $hover-color;
    }
}

%center-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

%shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

@mixin div-hover ($background-color){
    background-color: $background-color;
    @extend %shadow;
}

@mixin border-style($color,$width,$color2){
    border-style: solid;
    border-color: $color;
    border-width: $width;
    background-color: $color2;
}