@import './navbar.scss';
@import './form.scss';
@import './userhome';
@import './dndApi/classes.scss';
@import './dndApi/class.scss';
@import './dndApi/ability.scss';
@import './mixins';

// font-family: 'Cinzel Decorative', cursive;
// font-family: 'Milonga', cursive;
// font-family: 'Uncial Antiqua', cursive;

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(36, 36, 36);
}

.site {
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  font-family: 'Cinzel Decorative', cursive;
  color: rgb(255, 253, 239);
}

.content {
  height: 100%;
  @include background-pic("https://vectr.com/mcabrex/b7Kukj5tU.svg?width=640&height=640&select=b7Kukj5tUpage0&source=page",100%);
  color: rgb(255, 253, 239);
}

.loading {
  text-align: center;
  vertical-align: middle;
  margin-top: 45vh;
}