.userhome {
    &-title {
        text-align: center;
        color: rgb(122, 0, 0);
        margin: 5%;
        font-family: 'Uncial Antiqua', cursive;
        font-size: 5vh;
    }
    &-message {
        text-align: center;
    }   
}