@import '../mixins';

.ability {
    height: 100vh;
    overflow: auto;
    &-search {
        @include border-style(rgb(255, 253, 239),1px,rgba(121, 3, 3, 0.8));
        @extend %shadow;
        margin: 5%;
        padding: 0.5%;
        &-form {
            display: grid;
            grid-template-columns: 1fr 80%;        
        }
        &-title {
            width: 100%;
            padding: 0.5%;
            @extend %center-child;
            grid-column: 1 / span 1;
            font-family: 'Uncial Antiqua', cursive;
        }
        &-query {
            grid-column: 2 / span 1;
            width: 80%;
        }
    }
    &-score {
        @extend %shadow;
        @include border-style(rgb(255, 253, 239),1px,rgba(121, 3, 3, 0.8));
        margin: 2.5%;
        padding: 0.5%;
        &-name {
            // width: 100%;
            text-align: center;
            @include border-style(rgb(255, 253, 239),1px,black);
            padding: 0.5%;
            margin-top: -2vh;
            font-family: 'Milonga', cursive;
        }
        &-full-name {
            margin: 2vh;
        }
        &-description {
            font-family: 'Milonga', cursive;
        }
    }
}